.DS_Store
node_modules
/dist

/tests/e2e/reports/
selenium-debug.log
chromedriver.log
geckodriver.log

# local env files
.env.local
.env.*.local
circular-fusion-290809-49d25656bf44.json

# Log files
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode

# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
backend/piclab/settings/local*

# Python
*.py[cod] 
*$py.class

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 