[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-storages = "*"
google-cloud-storage = "*"
pillow = "*"
psycopg2 = "*"
google-cloud-secret-manager = "*"
django-filter = "*"

[requires]
python_version = "3.7"
